@import url(../global/global.css);
@import url(../global/header.css);

body{
    background-color: #e7d7e4;
}

ul, li{
    list-style: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: var(--slate-800);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 5rem;
    height: 6rem;
}

header div img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

